<div class="row">
  <div class="column">
    <h1>Todos</h1>
  </div>
</div>

<div class="row align-center">
  <div class="column small-8">
    <div class="callout" *ngFor="let todo of todos">
      <p>
        {{ todo.contents }}
        <span class="badge float-right"
              [ngClass]="todo.completed ? 'success' : 'secondary'">
          <i class="fa"
             [ngClass]="todo.completed ? 'fa-check-circle' : 'fa-times-circle'">
          </i>
        </span>
      </p>
    </div>
  </div>
</div>
